<h2>Update User</h2>

<form [formGroup]="updateform" (ngSubmit)="UpdateUser()">
    
    <mat-form-field appearance="fill">
        <mat-label>User Id</mat-label>
        <input matInput formControlName="id">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Skillset</mat-label>
        <input matInput formControlName="skillset">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Hobby</mat-label>
        <input matInput formControlName="hobby">
    </mat-form-field>
<div>
    <button mat-raised-button color="primary">Update</button>
    <button mat-raised-button color="accent">Close</button>
</div>
</form>